@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --counter-yellow: #dfaf34;
}

.custom-text-yellow {
  color: #dfaf34;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Grovana-Bold";
  src: url("/assets/fonts/grovana/Grovana Bold.otf") format("opentype");
  /* You can specify other font properties like font-weight, font-style here */
}

body {
  color: white;
  font-family: "Nunito", "Grovana-Bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000000;
}

.header-line-height {
  line-height: 0.4;
}

#header-font-size {
  font-size: clamp(16px, 5vw, 24px);
}

.logo {
  width: 350px;
  height: auto;
}
.car {
  width: 1500px;
  height: auto;
}

.rental-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Media query for screens smaller than 640px (e.g., mobile) */
@media (max-width: 639px) {
  .logo {
    width: 350px; /* Adjust the width for smaller screens */
  }
  .rental-text {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
  }
}

/* Media query for screens between 640px and 767px (e.g., small tablets) */
@media (min-width: 640px) and (max-width: 767px) {
  .logo {
    width: 350px; /* Adjust the width for small tablets */
  }
  .car {
    width: 400px;
  }
  .rental-text {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
  }
}

/* Media query for screens between 768px and 1023px (e.g., large tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 320px; /* Adjust the width for large tablets */
  }
  .car {
    width: 900px;
  }
}

/* Media query for screens larger than 1023px (e.g., desktop) */
@media (min-width: 1024px) {
  .logo {
    width: 350px; /* Keep the original width for desktop */
  }
}
